.client-affiliation {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(2px);
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--animation-short-duration);
}

.client-affiliation .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2vw;
    aspect-ratio: 1;
    cursor: pointer;
}

.client-affiliation.open {
    pointer-events: all;
    opacity: 1;
}

.client-affiliation .content {
    min-width: 400px;
}

.client-affiliation .content .upper-content {
    border-bottom: var(--border);
}

.client-affiliation .content .middle-content:has(.message) {
    padding: var(--padding-lv2) 0;
}

.client-affiliation .lower-content .add-client-btn .button-element{
    width: 100%;
}