.action-btn{
    padding: 5px;
    display: flex;
    gap: 0.3vw;
    cursor: pointer;
}

.action-btn .dot{
    width: 3px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--secondary-text-color);
}
