.data-table{
    width: 100%;
    border-collapse: collapse;
}

.data-table .table-header{
    padding: 0 var(--padding-lv1);
    border-bottom: var(--border);
    font-size: calc((var(--small-font-size)) * 0.8);
}

.data-table .table-row:not(:last-child){
    border-bottom: var(--border);
}

.data-table .table-cell{
    padding: 0 var(--padding-lv1);
}

#upcoming-deadlines .table-cell{
    display: flex;
    width: 100%;
}