.data-table {
    width: 100%;
    border-collapse: collapse;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.data-table .table-column {
    flex: 1;
}

.data-table .button-element{
    height: calc(var(--height-lv1) * 0.8);
}

.data-table .button-content{
    padding: 0 calc(var(--padding-lv1) * 0.8);
}

.data-table .slide-text{
    font-size: calc(var(--small-font-size) * 0.8);
}

.data-table .column-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-lv1);
    border-bottom: var(--border);
}

.data-table .column-header .header-item {
    font-size: calc((var(--small-font-size)) * 0.9);
}

.data-table .data-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-lv1);
}

.empty-data {
    font-size: calc((var(--small-font-size)) * 0.7);
    text-align: center;
    width: 100%;
}

.data-table .data-item:not(:last-child) {
    border-bottom: var(--border);
}

.data-table .table-cell {
    padding: 0 var(--padding-lv1);
}

.table-column:nth-child(1) {
    flex: 2.5;
}