.container .content{
    overflow: hidden;
}

.container .content:has(.data-table){
    border: 0;
}

.container .pagination-container{
    justify-content: flex-end;
}

.container .page-btn{
    aspect-ratio: 1;
    stroke: var(--light-text-color);
}

#late-projects{
    flex: 1;
}

#late-tasks{
    min-width: 400px;
}