.container .header{
    padding: calc(var(--padding-lv1) * 0.2) 0;
    display: flex;
    justify-content: space-between;
}

.container .content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .content:has(.empty-data){
    height: 100%;
}

.container .content:has(.data-table){
    border: 0;
}

.container .pagination-container{
    justify-content: flex-end;
}

.container .page-btn{
    aspect-ratio: 1;
    stroke: var(--light-text-color);
}

#late-projects{
    flex: 1;
}

#todays-tasks{
    min-width: 400px;
}