.dashboard-side-bar {
    width: 16vw;
    min-width: 200px;
    border-right: var(--border);
}

.side-bar-header {
    display: flex;
    align-items: center;
    padding: var(--padding-lv2) var(--padding-lv1);
}

.dashboard-side-bar .navigation-links-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--padding-lv1) 0 var(--padding-lv3);
}

.dashboard-side-bar .navigation-links-container::before {
    content: "";
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    border-bottom: var(--border);
}

.dashboard-side-bar .navigation-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
    padding: 0 15px;
    transition: background var(--animation-short-duration);
}

.dashboard-side-bar .navigation-link .icon {
    width: 20px;
}

.dashboard-side-bar .navigation-link:hover {
    background-color: #00000008;
}

.dashboard-side-bar .navigation-link.active {
    background-color: rgb(var(--main-color), 0.1);
}

.dashboard-side-bar .navigation-link .icon svg {
    transition: stroke var(--animation-short-duration);
}

.dashboard-side-bar .navigation-link.active .icon svg {
    stroke: rgb(var(--main-color));
}