.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.search-bar .search-input {
    background: none;
    position: absolute;
    width: 75%;
    height: 100%;
    padding-left: 35px;
}

.search-bar .indication {
    position: absolute;
    right: 15px;
    display: flex;
    gap: 3px;
    font-size: 0.4rem;
}

.search-bar .indication .key {
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}